<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="descarteseletivo2.fabiolindemberg.com.br.pocascommyco2">

    <uses-permission android:name="com.ascom.myco.permission.RECEIVE_TOP_BUTTON_EVENTS"/>
    <uses-permission android:name="com.ascom.permission.BARCODE_SCANNER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.ascom.myco.sdk"/>
        <receiver android:name=".TopButtonEventReceiver"
            android:permission="com.ascom.myco.permission.RECEIVE_TOP_BUTTON_EVENTS">
            <intent-filter>
                <action android:name="com.ascom.myco.action.TOP_BUTTON_EVENT"/>
            </intent-filter>
        </receiver>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>